.bgContainer {
}

.bgLeft {
  background-color: rgb(30, 30, 30);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -11;
}

.bgRight {
  width: fit-content;
  height: 90vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -10;
  background-color: yellow;
}

@media screen and (max-width: 768px) {
  .bgRight {
    /* width: 100%;
    text-align: center; */
  }
}

.bgRight img {
  height: 100%;
  filter: invert(80%);
}
